@font-face {
    font-family:'Vollkorn';
    font-style:normal;
    font-weight:600;
    src: url('../fonts/VollkornMedium.woff2') format('woff2'),
         url('../fonts/VollkornMedium.woff') format('woff');
} /*Vollkorn Medium*/
@font-face {
    font-family:'Merriweather';
    font-style:normal;
    font-weight:400;
    src: url('../fonts/MerriweatherRegular.woff2') format('woff2'),
         url('../fonts/MerriweatherRegular.woff') format('woff');
} /*Merriweather Regular*/

/*---------------------
  NAVIGATION BUTTON
-----------------------*/
#checkbox {
    position: fixed;
    top: -9999px;
    left: -9999px;
}
.navmenu {
    display: none;
}
@media only screen and (min-width: 785px){
    .navmenu,
    .navmenu:active,
    .navmenu:focus {
        border: none !important;
        outline: none !important;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .navmenu {
        display: block;
        cursor: pointer;
        position: fixed;
        top:5px;
        right: 1%;
        height: 1.2em;
        width: 1.2em;
        z-index: 2;
        font-family:'Fontawesome';
        font-size: 28px;
        color: #331a00;
    }
    .navmenu:after {
        content: "\f0c9";
    }
    #checkbox:checked ~ .navmenu:after {
        content: "\f00d";
        font-size: 24px;
        color: #804a00;
        text-shadow: 1px 0 3px rgba(26, 13, 0, 1);
    }
}
@media only screen and (min-width: 860px) { 
    .navmenu {
        top: 20px;
        right: 20px;}
}

/*------------------
    GENERAL LAYOUT
--------------------*/
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    font-size: 100%;
    color: #1a1a1a;
    font-family: 'Merriweather', Georgia, serif;
    overflow-x: hidden;
}
main {
    background: white;
    position:relative;
    width: 100%;
    min-height:auto;
    z-index: 1;
    border-bottom:2px solid #4d1f00;
} /* width less than 785px */
article {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    max-width: 48em;
    margin: 0 auto 1.2em;
    padding: 0 1em 0;
} /* width less than 785px */
article header {
    margin-bottom: 1em;
}
.footnotes {
    font-family: 'Vollkorn', Georgia;
    margin-top: 2em;
    padding-top: .563em;
    border-top: 2px solid #805500;
}
hr { 
    display: none;
}
nav {        
    position: relative;
    z-index: 1;
    padding-top:1em;
    width: 100%;
    background-image: url('../images/bg6.jpg');
    background-color: #4d1f00;
    font-family: 'Fira Sans', sans-serif;
    color:#c6a339;
    text-shadow:  1px 0 3px rgba(26, 13, 0, 1);
    border-bottom:1px solid #331a00;
    } /* width less than 785px */
.tall {
    height: auto;
    padding-left: 1em;
}
.sticky {
    width: 80%;
    margin: 0 auto;
    height: 80px;
    clear: both;
    text-align: center;
    padding: 25px 0 0;
}
section {
    margin: 0 auto 25px;
    max-width: 42em;
    padding: 0 1em;
}
footer {
    text-align: center;
    margin: 20px 0 30px 0;
    font-family: 'Fira Sans', sans-serif;
}
.column {
    width: 50%;
    margin: 5px 0 0;
    padding: 0 1em 0 0;
    margin-top: 1em;
    text-indent: 0;
    box-sizing: border-box;
    float: left;
    } /* width less than 600px */
.subscribe {
    text-indent:0;
    padding:0;
    margin-top: 10px;
}
/*-- Images --*/
img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}
.center {
    display: block;
    margin: auto;
    width: 50%;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
@media only screen and (min-width: 600px) {
    article {
        padding-left:2em;
    }
    .column {
        width:33%;
    }
    .sticky {
        width: 64%;
    }
    .responsive {
        width: 100%;
    }
}
@media only screen and (min-width: 750px) {
    main {
        position: absolute;
        min-height: 100%;
        width:100%;
        border-right: 3px solid #331a00;
        border-bottom:none;
    }
    #checkbox:checked ~ main {
        width: 65%;
    }
    footer {
        height: 30px;
    }
    nav {
        position: fixed;
        overflow: auto;
        box-sizing: border-box;
        padding-top:2em;
        width: 35%;
        height: 100%;
        z-index: 0;
        top:0;
        right: 0;
        }
    nav::-webkit-scrollbar {
        display: none;
    }
    .tall {
        min-height: 100%;
        margin-bottom: -105px;
    }
    .column {
        width:100%;
        margin:10px 0 6px 0;
    }
    .sticky {width:86%;}
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
@media only screen and (min-width: 860px) {
    .tall {
        padding-left: 2em;
        padding-right: 0;
    }
    section {
        padding: 0 1em 0 2em;
    }
}
@media only screen and (min-width: 1000px){
    nav {width:30%;}
    #checkbox:checked ~ main {width: 70%;} 
}
@media only screen and (min-width: 1200px){
    .column {
        width: 50%;
    }
    article {
        font-size: 106.3%;
        padding-left:1em;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/*----------------
    TYPOGRAPHY
------------------*/
h1 {
    text-align: center;
    font-family: 'Vollkorn', sans-serif;
    font-weight: 600;
    color: #003366;
    font-size: 2.64em;
    margin-bottom: 20px;
    padding-top: 25px;
    line-height: .96em;
}
h2 {
    font-family: 'Vollkorn', sans-serif;
    font-weight: 600;
    color: #004080;
    font-size: 2.25em;
    line-height: .87em;
    margin: .6em 0 .4em 0;
    padding-bottom: .26em;
    border-bottom: 2px solid #805500;
}
section h2 {
    text-align: center;
    font-weight: 600;
    border-bottom: none;
    margin-bottom: .2em;
}
h3 {
    margin-bottom: .6em;
}
nav h3 {
    padding-bottom: 4px;
    margin-bottom: .375em;
    border-bottom: 1px solid #804a00;
    color: #804a00;
    line-height: 1em;
    -webkit-box-shadow: 0 1px 0 0 rgba(26, 13, 0, 0.7);
    -moz-box-shadow:    0 1px 0 0 rgba(26, 13, 0, 0.7);
    box-shadow:         0 1px 0 0 rgba(26, 13, 0, 0.7);
}
.meta {
    text-align: center;
    border-top: 2px solid #805500;
    margin-top: .4em;
    margin: .375em 0 .625em;
    line-height: .5em;
   }
.meta span {
    font-family:'Vollkorn', Georgia;
    background: #fff/*#eae3c9*/;
    color: #663300;
    font-weight: 600;
/*    font-style:italic;*/
    font-size: .938em;
    position: relative;
    top: -.313em;
    padding: 0 .8em;
   }
p {
    font-size: 0.938em;
    line-height: 1.5em;
    margin-bottom: .688em;
}
strong {
    color: #990000;
}
em {
	font-weight: 600;
}

/*-- Lists --*/
ol,
ul {
    padding: 0 0 .6em 1.2em;
    text-indent: .4em;
}
nav ul {
    padding:0;
    text-indent: 0;
}
nav li {
    list-style-type: none;
    font-size: .875em;
    line-height: .875em;
    height: auto;
    margin-top: 9px;
}
.column p {
    line-height: 1.125em;
    font-size: .813em;
    font-weight: 500;
}
.footnotes p {
    font-weight: 400;
    line-height: 1.375em;
    margin:0;
    text-indent: 0;
    }
.footnotes li {
    margin-top: .813em;
    padding-left: 1em;
}

/*-- Quotes --*/
q {
    display: block;
    float: right;
    font-family: 'Vollkorn';
    font-style:normal;
    color: #331a00;
    line-height: 1.14em;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 360px;
    margin-left: 3em;
    padding-left: 15px;
    border-left: 2px solid #1a8cff;
}
q:before {
    content:none;
}
q:after {
    content: none;
}    
blockquote {
    font-family: 'Vollkorn', Georgia;
    
    color: black;
    border-left: 2px solid #0066cc;
    margin-left: 1.6em;
    padding-left: 1em;
    margin-bottom: 1.4em;
}
blockquote p {
    line-height: 1.24em;
    margin-bottom: 0;
}
.twitter-tweet {
    display: block;
    float: right;
    font-family: 'Fira Sans';
    font-size: .866em;
    font-style:normal;
    line-height: 1.14em;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 360px;
    margin-left: 2em;
    padding-left: 15px;
    border-left: 2px solid #1a8cff;
    text-align: right;
    }
.twitter-tweet p {
    font-size: 1.118em;
    line-height: 1.2em;
    margin-bottom: .54em;
    text-align: left;
}
.twitter-tweet a {
    font-size: .866em;
    color: #004080;
}
cite {
    display: block;
    font-size: .875em;
    font-family: 'Fira Sans';
    font-style: normal;
    text-align: right;
    margin-top: -.3em;
    line-height: .94em;
}

@media only screen and (min-width: 600px) {
    h1{
        font-size:3.114em;
    }
    h2 {
        font-size:2.313em;
        margin-bottom: .28em;
    }
    p {
        font-size: 1em;
        line-height: 1.563em;
        margin-bottom: 1.3em;
    }
}
@media only screen and (min-width: 860px) {
    h1 {
        font-size: 3.998em;
        line-height: .866em;
        margin-bottom: .5em;
        padding-top: 45px;
    }
    h2 {
        margin: 1em 0 .6em 0;
    }
    section h2 {
        font-size: 2.46em;
    }
    .meta {
        margin-bottom: .375em;
    }
    .meta span {
        top: -.3em;
        font-size: 1em;
    }
    nav li, nav p {
        font-size: .938em;
        line-height: .938em;
    }
}

/*-- Links --*/
a,
a:hover,
a:active,
a:visited {
    outline: none;
}
input::-moz-focus-inner { 
  border: 0; 
}
a {
    color: #004080;
    text-decoration: none;
    font-weight: 600;
}
a:hover {
    color: #0073e6;
}
.meta a {
    color: #663300;
    text-transform: uppercase;
}
nav a {
    color: #b38600;
    font-weight: 500;
}
nav a:hover {
    color: #ffbf00;
}
.active,
.btnactive,
.tag-active {
    pointer-events: none;
}
.active {
    color:#805500;
}
.inline {
    display: inline-block;
    line-height: .688em;
}
.tag {
    padding: 1px 4px;
    color: #1a0d00;
    text-shadow: 0 0 1px #4d4d00;
    background-color: #cca300;
    border: 1px solid #997a00;
    font-size:.875em;
    border-radius: 5px;
    margin:0 4px 5px 0;
        /* outer shadow */
    -webkit-box-shadow: 1px 2px 2px 2px rgba(26, 10, 0, 0.7);
    -moz-box-shadow:    1px 2px 2px 2px rgba(26, 10, 0, 0.7);
    box-shadow:         1px 2px 2px 2px rgba(26, 10, 0, 0.7);
}
.tag:hover {
    color: black;
    background-color: #ffbf00;
    border-color:#e6ac00;
}
.tag-active,
.tag:active {
    background-color:#666600 !important;
    border-color: #4d4d00 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow:    none;
    box-shadow:         none;
    vertical-align: bottom;
}
sup {
    font-family: 'Fira Sans';
    font-size: .688em;
    font-weight: 600;
    vertical-align: top;
    position: relative;
    top: -.563em;
    left: 1px;
}
.footnote-backref {
    font-family: 'Fontawesome';
    font-size: .688em;
    font-weight: 600;
    vertical-align: top;
    position: relative;
    top: -2px;
    right: 1px;
}

/*--------------
   SEARCHBOX
---------------*/
.search {
    width: 100%;
    clear: both;
    }
.searchwrap {
    width: 100%;
    overflow: hidden;
    background: transparent;
    position: static;
   } /* width less than 785px */
.searchform {
    overflow: hidden;
    position: relative;
}
.inputwrap {
    padding: 0 66px 0 0; 
    overflow: hidden;
}
.searchinput {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
    height: 30px;
    padding: 0 46px 0 14px;
    border-color: #4d1f00;
    border-radius: 18px;
    border-style: solid;
    border-width: 2px;
    color: #333;
    font-family: 'Fira Sans';
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #1a0a00;
    vertical-align: text-bottom;
    /* inner shadow */
}
.searchsubmit {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 40px;
    padding: 0;
    border: none;
    margin-top: -4px;
    margin-right: 0;
    background: transparent;
    color: #4d2d00;
    font-size: 16px;
    font-family:'Fontawesome';
    outline: none;
}
.searchinput:focus {
    outline: none;
    border-color: #995c00;
    background: white;
}
.searchsubmit:hover {
    color: #995c00;
    cursor: pointer;
}
::-webkit-input-placeholder { color: #663c00; }
:-moz-placeholder { color: #663c00; }
::-moz-placeholder { color: #663c00; }
:-ms-input-placeholder { color: #663c00; }
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

@font-face {
    font-family:'Merriweather';
    font-style:normal;
    font-weight:600;
    src: url('../fonts/MerriweatherMedium.woff2') format('woff2'),
         url('../fonts/MerriweatherMedium.woff') format('woff');
} /*Merriweather Medium*/
@font-face {
    font-family:'Merriweather';
    font-style:italic;
    font-weight:600;
    src: url('../fonts/MerriweatherItalic.woff2') format('woff2'),
         url('../fonts/MerriweatherItalic.woff') format('woff');
} /*Merriweather Italic*/
@font-face {
    font-family:'Vollkorn';
    font-style:normal;
    font-weight:500;
    src: url('../fonts/VollkornRegular.woff2') format('woff2'),
         url('../fonts/VollkornRegular.woff') format('woff');
} /*Vollkorn Regular*/
