<!DOCTYPE html><html lang="ru"><meta charset="utf-8">
	<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans|Source+Sans+Pro&amp;subset=cyrillic" rel="stylesheet"> 
	<body>
		<article>
			{{ content }}
		</article>
		<footer>
    		<a href="mailto:quicknquiet@protonmail.com">Reach me</a>
		</footer>
	</body>
</html>
